.menu span{
    display: inline-block;
    position: relative;
    padding: 7px;
    color: #402E2A;
    background: #D5B0AC;
    text-align: center;
    font-weight: bold;
    border-bottom: 0.3px solid #ffffff;
  }
  
  .menu span:hover{
      color: #ffffff;
      background: #9CD08F;
    
  }
  
  .sub-menu {
      display: none;
      position: absolute;
  }
  
  .sub-menu span{
    padding: 7px;
    color: #402E2A;
    background: #D5B0AC;
    text-align: center;
    font-weight: bold;
    border-bottom: 0.3px solid #ffffff;
  }
  
  .menu span:hover > .menu.sub-menu{
      display: block;
      color: #ffffff;
      background: #9CD08F;
  }
  
.sub-menu span:hover > .menu.sub-menu{
      display: inline-block;
      color: #ffffff;
      background: #9CD08F;
      left: 100%;
      top: 0%;
  }